<ion-header>

  <ion-navbar>
    <ion-title>Add Medications</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-list>

        <ion-item>
            <ion-label>Select time</ion-label>
            <ion-select [(ngModel)]="medSelected">
            <ion-option value="morning">Morning</ion-option>
            <ion-option value="noon">Noon</ion-option>
            <ion-option value="evening">Evening</ion-option>
            <ion-option value="night">Night</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="medDate"></ion-datetime>
        </ion-item>
        
        <ion-item>
            <ion-label>Time</ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="medDate"></ion-datetime>
        </ion-item>
        
        <ion-item>
            <button ion-button clear item-end  (click)="addMedItem()">
                    <ion-icon name="add"></ion-icon>
            </button>
            <ion-input type="text" placeholder="Add medications" [(ngModel)]="medItem"></ion-input>
        </ion-item>

        <ion-list>
            <ion-item ion-item *ngFor="let item of medList">
                {{ item }}
            </ion-item>  
        </ion-list>
        
    </ion-list>
    <button ion-button full (click)="medSave()">Save</button>

</ion-content>
