<ion-header>

    <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>Reminders</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="remDate"></ion-datetime>
    </ion-item>
    
    <ion-item>
        <ion-label>Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="remDate"></ion-datetime>
    </ion-item>
    
    <ion-item>
        <button ion-button clear item-end  (click)="addAlarm()">
                <ion-icon name="add"></ion-icon>
        </button>
        <ion-input type="text" placeholder="Description" [(ngModel)]="alarmDesc"></ion-input>
    </ion-item>
    <ion-list>
        <button ion-item *ngFor="let item of alarms">
            {{ item }}
        </button>  
    </ion-list>

</ion-content>
