<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Medication</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    
    <ion-fab center bottom>
        <button ion-fab color="danger" (click)="openMedPage()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-list>
        <ion-list-header>
            <b>Morning</b>
        </ion-list-header>
        <ion-item *ngFor="let item of morning">{{item}}</ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <b>Noon</b>
        </ion-list-header>
        <ion-item *ngFor="let item of noon">{{item}}</ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <b>Evening</b>
        </ion-list-header>
        <ion-item *ngFor="let item of evening">{{item}}</ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <b>Night</b>
        </ion-list-header>
        <ion-item *ngFor="let item of night">{{item}}</ion-item>
    </ion-list>
</ion-content>
