<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Profile</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>

        <ion-card>
        <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"/>
            <!--<ion-card-content>
                <ion-card-title>
                "This is a quote by me...""
                </ion-card-title>
            </ion-card-content> -->
        </ion-card>
        <ion-item>
            <ion-label fixed>First Name</ion-label>
            <ion-input type="text" value="Mohamed"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label fixed>Last name</ion-label>
            <ion-input type="text" value="Sameeh"></ion-input>
        </ion-item>
 
        <ion-item>
            <ion-label fixed>Age</ion-label>
            <ion-input type="text" value="30"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>Weight</ion-label>
            <ion-input type="text" value="75 KG"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block>Save</button>
</ion-content>
