<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Gudelines</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-content>
            <p style="text-align: justify">People with cystic fibrosis need extra calories for several reasons. Although they take pancreatic enzymes, they still aren't able to use 100 percent of the energy they consume because enzymes cannot break down everything they eat or correct their problems with absorbing nutrients.</p><br/>
            <p style="text-align: justify">Fighting infections and coughing on a regular basis also burns extra calories. Maintaining a healthy weight -- and sometimes increasing it -- is key to fighting infection and keeping your lungs and body strong. By making small changes in your daily routine, you can make a big difference in your weight.</p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
                Tips for Planning and Preparing Meals
        </ion-card-header>
        <ion-card-content>
                <p style="text-align: justify">Give yourself time to plan. Before you go to sleep, think about the busy day ahead. Where will you be spending your time? Where can you easily stash food? Is there a refrigerator nearby? Microwave? How about a place to eat? Will you have enough enzymes?</p><br/>
                <p style="text-align: justify">Think about “packability.” Plan meals or snacks that you can carry in your backpack, purse, or briefcase and store in your desk drawer, locker, or a cooler in your car. Buy a variety of foods so you don't get tired of eating the same foods every day.</p><br/>           
                <p style="text-align: justify">Cook once to eat three times. When cooking, make enough to pack a meal for tomorrow's lunch or use plastic containers to freeze meals that you can easily “grab 'n' go.”</p><br/>
                <p style="text-align: justify">Use a slow cooker. For breakfast, overnight oatmeal made with heavy cream and dried fruit and nuts is a hearty start to the day. If you find that you have more energy earlier in the day, make dinner in the slow cooker so that at 5 p.m. you don't settle for pizza or fast food.</p><br/>
                <p style="text-align: justify">If you are cooking for only one or two people, look for magazines and recipe books designed for smaller portions so food doesn't go to waste. Or, make a full portion and freeze part of it for when you're not feeling up to cooking.</p><br/>

                <ul>
                <li><p style="text-align: justify">Women with CF should consume 2,500 calories a day to maintain their weight and 3,000 calories a day to gain weight.</p></li>
                <li><p style="text-align: justify">Men with CF should consume 3,000 calories a day to maintain their weight and up to 3,700 calories a day to gain weight.</p></li>
                <li><p style="text-align: justify">People with CF will not be able to benefit from fat-soluble vitamins if they don't eat enough fat or take enough enzymes to digest those fats.</p></li>
                <li><p style="text-align: justify">People with CF may need to increase their enzyme dose if they have bulky, greasy stools.</p></li>
                <li><p style="text-align: justify">Women with CF who want to become pregnant should take a prenatal vitamin to ensure they get enough folic acid. Once they are pregnant, they will need at least an extra 300 calories a day if not more.</p></li>
                </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
                Tips for Planning and Preparing Meals
        </ion-card-header>
        <ion-card-content>
            
            <h2>Organize Your Kitchen</h2>
            
            <p style="text-align: justify">
                Organize your kitchen so that everything you need for “grab 'n' go” snacks and meals are within arm's length. Stock up on things like paper bags, plastic bags, napkins, and food containers.<br/>                
                Create a shelf in your kitchen or refrigerator just for your “grab 'n' go” favorites.<br/>       
                Keep plastic containers on hand to store meal-sized portions in the refrigerator or freezer. In the morning, just grab a filled container to take to work or school or wherever you go.<br/>
            </p>
                
                <br/>
                <h2>Organize Your Shopping</h2>
                <p style="text-align: justify">
                Avoid wandering aimlessly around the grocery store by planning ahead. Plan out your menu for the week so you have what you need on hand and don't have to play the “What's for dinner?” game.<br/><br/>   
                
                Many cooking websites provide creative ideas for menu planning, such as theme meals (Taco Night or No-Meat Mondays). Thinking ahead ensures you have more nutritious and satisfying options.<br/><br/>  
                
                Buy peanut butter, jelly, cream cheese, and other foods in single-packet servings you can just toss in your bag. If you have trouble finding these in your grocery store, there are countless varieties available online at restaurant supply stores. (Use the search phrase “restaurant supplies condiments.”)<br/><br/> 
                
                To save, buy in bulk. You can save money by buying in bulk at discount stores and individually wrapping foods yourself in plastic wrap, plastic bags, or foil.<br/><br/> 
                
                Read food labels. Food labels will help you learn to choose foods that meet your goals. For more on food labels, see the U.S. Food and Drug Administration's website.<br/><br/> 
                
                Keep an eye out for new ideas. Just look around you. “Grab 'n' go” options are everywhere. Check out the selection in convenience stores, vending machines, corner markets, food stands -- even bookstores and sporting events.<br/><br/> 
                      
                Making use of grocery specials and coupons to plan your menu for the week.<br/> 
                Going to dollar stores, low-cost grocery stores, and warehouse stores.<br/> 
                Buying store brands instead of name brands.<br/> 
                Getting seasonal produce from a farmers market.<br/> 
                Stocking up on canned or frozen goods when they are on sale.<br/> 
                Buying cheaper, high-protein foods such as tuna packed in oil, peanut butter, beans, extra-large eggs, and chicken.</p>
        </ion-card-content>
    </ion-card>

</ion-content>
