<ion-header>

  <ion-navbar>
    <ion-title>Add Nutrition</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-list>

        <ion-item>
            <ion-label>Select meal</ion-label>
            <ion-select [(ngModel)]="mealSelected">
            <ion-option value="breakfast">Breakfast</ion-option>
            <ion-option value="lunch">Lunch</ion-option>
            <ion-option value="dinner">Dinner</ion-option>
            <ion-option value="snacks">Snacks</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="nutDate"></ion-datetime>
        </ion-item>
        
        <ion-item>
            <ion-label>Time</ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="nutDate"></ion-datetime>
        </ion-item>
        
        <ion-item>
            <button ion-button clear item-end  (click)="addFoodItem()">
                    <ion-icon name="add"></ion-icon>
            </button>
            <ion-input type="text" placeholder="Add food" [(ngModel)]="foodItem"></ion-input>
        </ion-item>

        <ion-list>
            <ion-item ion-item *ngFor="let item of foodList">
              {{ item }}
            </ion-item>  
        </ion-list>
        
    </ion-list>
    <button ion-button full (click)="nutSave()">Save</button>
    
</ion-content>
