<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Nutrition</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <ion-fab center bottom>
        <button ion-fab color="danger" (click)="openNutPage()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-list>
        <ion-list-header>
            <b>Breakfast</b>
        </ion-list-header>
        <ion-item *ngFor="let item of breakfast">{{item}}</ion-item>
        <ion-item style="text-align: right">400 Calories</ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
                <b>Lunch</b>
            </ion-list-header>
            <ion-item *ngFor="let item of lunch">{{item}}</ion-item>
            <ion-item style="text-align: right">450 Calories</ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
                <b>Dinner</b>
            </ion-list-header>
            <ion-item *ngFor="let item of dinner">{{item}}</ion-item>
            <ion-item style="text-align: right">350 Calories</ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
                <b>Snacks</b>
            </ion-list-header>
            <ion-item *ngFor="let item of snacks">{{item}}</ion-item>
            <ion-item style="text-align: right">150 Calories</ion-item>
    </ion-list>

</ion-content>
       